<nav class="hidden md:flex space-x-3">
  @header.desktop.navItem({ href: 'https://adocasts.com/series' })
    Series
  @end
  @header.desktop.navItem({ href: 'https://adocasts.com/topics' })
    Topics
  @end
  @header.desktop.navItem({ href: 'https://adocasts.com/lessons' })
    Lessons
  @end
  @header.desktop.navItem({ href: 'https://adocasts.com/news' })
    News
  @end
  @header.desktop.navItem({ href: 'https://adocasts.com/streams' })
    Streams
  @end
</nav>
