@layout('layouts/studio')

@section('heading')
  @studio.heading({ heading: 'Welcome to the Adocasts Studio' })
  @end
@endsection

@section('content')

  <div class="-m-6 p-6">
    Coming Soon
  </div>

@endsection
